# Environment files
.env
.env.*
!.env.example

# Virtual environment
venv/
.env/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
